<h1>Bem vindo ao prORT, <%= @user.full_name %></h1>
<p>
  Você foi cadastrado com sucesso,
  seu email é: <%= @user.email %>.<br>
</p>
<p>
  Para entrar no site acesse .
</p>
<p>Obrigado por se juntar a nós e tenha um ótimo dia!</p>
