<% @comments.each do |comment| %>

<p>
    Feito por: <b><%= link_to comment.user.full_name, comment.user %></b>
</p>

<p>
    <b><%= comment.content %></b>
</p>

<p>
    <%= time_ago_in_words(comment.created_at) %> atrás
</p>

<% if comment.user == current_user %>
    <%= link_to "Deletar", [comment.post, comment], method: :delete, data: {confirm: "Tem certeza disso?"}%>
<% end %>

<hr>

<% end %>