<h2>Aqui será a página inicial do projeto, falando sobre o mesmo.</h2>

<p>
    Escolha uma das ações a seguir:
    <ul>
        <li><%= link_to "Cadastro", new_user_path%></li>
        <li><%= link_to "Visualizar", rooms_path%></li>
    </ul>
</p>

<p>
	<%= link_to "Todos os posts", posts_path %>
</p>