<style>
	.titulo{
		text-align: center;
		color: #12263F
	}
	.descricao{
		text-align: center;
	}
	.Contribuidores{
		text-align: center;
	}
</style>
<h2 class="titulo">Bem vindos ao prORT!</h2>
<br>
<h5 class="descricao">
   Aqui é o lugar onde você que está conectado ao ORT terá um espaço para se expressar!<br>
   Seja você um aluno, funcionário ou professor, escreva aqui suas idéias, sejam elas sugestões, reclamações ou até elogios :)
</h5>
<br>
   




