<h1 class="titulo">Bem vindos ao prORT!</h1>
<br>
<h5 class="descricao">
   Aqui é o lugar onde você que está conectado ao ORT terá um espaço para se expressar!<br>
   Seja você um aluno, funcionário ou professor, escreva aqui suas idéias, sejam elas sugestões, reclamações ou até elogios :)
</h5>
<br>


<div class="col-md-3" id="aluno">
	<div class="info">
		<h4>Alan Klajman</h4>
		<i>SM &amp; Desenvolvedor</i>
	</div>
</div>

<div class="col-md-3" id="aluno">
	<div class="info">
		<h4>Thor Garcia</h4>
		<i>SM &amp; Desenvolvedor</i>
	</div>
</div>

<div class="col-md-3" id="aluno">
	<div class="info">
		<h4>Ana Clara</h4>
		<i>SM</i>
	</div>
</div>

<div class="col-md-3">
	<div class="info" id="aluno">
		<h4>Gustavo Sampaio</h4>
		<i>SM</i>
	</div>
</div>
	<div class="info" id="aluno">
		<h4>Vitor Araújo</h4>
		<i>SM</i>
	</div>
</div>





