<h1 class="titulo">Bem vindos ao prORT!</h1>
<br>
<h5 class="descricao">
   Aqui é o lugar onde você que está conectado ao ORT terá um espaço para se expressar!<br>
   Seja você um aluno, funcionário ou professor, escreva aqui suas idéias, sejam elas sugestões, reclamações e elogios :)
</h5>
<br>


<div class="col-md-3" id="aluno">
	<div class="info">
		<b><h4>Alan Klajman</h4>
		<i>SM &amp; Desenvolvedor</i>
	</div>
</div>

<div class="col-md-3" id="aluno">
	<div class="info">
		<b><h4>Thor Garcia</h4></b>
		<i>SM &amp; Desenvolvedor</i>
	</div>
</div>

<div class="col-md-3" id="aluno">
	<div class="info">
		<b><h4>Ana Braga</h4></b>
		<i>SM</i>
	</div>
</div>

<div class="col-md-3">
	<div class="info" id="aluno">
		<b><h4>Gustavo Sampaio</h4></b>
		<i>SM</i>
	</div>
</div>
	<div class="info" id="aluno">
		<b><h4>Vitor Araújo</h4></b>
		<i>SM</i>
	</div>
</div>





