/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require material
 *= require_self
 */

.demo-card-wide {
	background: #F1EFF7;
	left: 10px;
}

.demo-card-square.mdl-card {
  margin: 0;
  top: 50px;
  left: 480px;
  margin-right: 10px;
  width: 355px;
  height: 300px;
}

.demo-card-square > .mdl-card__supporting-text {
  color: #;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background: #E0E757;
}

.edit-post {
	text-align: center;
}

.post-new {
	text-align: center;
}

.user-new {
	text-align: center;
}

.session-new {
	text-align: center;
}

.anemona {
	left: -260px;
}
.categorias {
	text-align: center;
}