/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require material
 *= require_self
 */

.titulo{
	text-align: center;
	color: #12263F
}

.info{
  text-align: center;
}

  .descricao{
  text-align: center;
  }



  #aluno {
    float: left;
    margin-left: 60px;
    margin-right: 40px;
  }

#waterfallTitle {
	color: #12263F;
}

#post-card-index {
	background: #F1EFF7;
	left: 1%;
}

.demo-card-square.mdl-card {
	position: fixed;
    top: 50%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.demo-card-square > .mdl-card__supporting-text {
  color: #;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background: #E0E757;
}

.edit-post {
	text-align: center;
}

.post-new {
	text-align: center;
}

.new-user {
	text-align: center;
}

.session-new {
	text-align: center;
}

.anemona {

}

.categorias {
      margin-top: 20px;
	text-align: center;
      margin-bottom: 20px;
}

.error-msg {
	text-align: center;
	color: red;
}

#show-post-card {
  text-align: center;
  width: 90%;
	background: #F1EFF7;
	left: 1%;
	top: -10%;
}


.categorias {
/*
  position: fixed;
  top: 30%;
  left: 50%;
  /* bring your own prefixes
  transform: translate(-30%, -30%);
*/
}

#avaliacao-index {
	left: 10%;
}

.alert{
    text-align: center;
    color: red;
    border: 1px solid red;
    background-color: #F2DEDE;
}

.notice{
    color: green;
    text-align: center;
    border: 1px solid green;
    background-color: #DFF0D8;
}