/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require material
 *= require_self
 */

.titulo{
		text-align: center;
		color: #12263F
	}

	.descricao{
		text-align: center;
	}

	#alan {
		float: left;
	}

	#thor {
		float: left;
	}
    
    #ana {
    	float: left;
    }

    #gustavo {
    	float: left;
    }

    #vitor {
    	float: left;
    }
#waterfallTitle {
	color: #12263F;
}

#post-card-index {
	background: #F1EFF7;
	left: 1%;
}

.demo-card-square.mdl-card {
	position: fixed;
    top: 50%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.demo-card-square > .mdl-card__supporting-text {
  color: #;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background: #E0E757;
}

.edit-post {
	text-align: center;
}

.post-new {
	text-align: center;
}

.new-user {
	text-align: center;
}

.session-new {
	text-align: center;
}

.anemona {
	
}

.categorias {
	text-align: center;
}

.error-msg {
	text-align: center;
	color: red;
}

#show-post-card {
	background: #F1EFF7;
	left: 1%;
	top: -10%;
}

#post-paths-show {
	
}

.categorias {
/*
  position: fixed;
  top: 30%;
  left: 50%;
  /* bring your own prefixes 
  transform: translate(-30%, -30%);
*/
}

#avaliacao-index {
	left: 10%;
}